/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Global Styles */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #000000;
  color: #000000;
  margin: 0;
  padding: 20px;
}

h1,
h2,
p {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #4caf50;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #4caf50;
}

p {
  font-size: 12px;
  color: #999;
}

/* Container Styles */
.title-container {
  display: flex;
  align-items: center;
}

.image-left {
  flex: 0 0 100px;
}

.image-left img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.title {
  flex-grow: 1;
  text-align: center;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
}

/* Specific Element Styles */
#current-date,
#current-challenge-day,
.reminder,
#total-amount {
  text-align: center;
  margin-top: 10px;
  padding: 2px;
  border-radius: 10px;
}

#financial-quote {
  text-align: justify;
  margin-top: 10px;
  font-size: 0.7rem;
  color: rgb(114, 114, 114);
}

#author {
  font-size: 0.5rem;
  color: gray;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 10px;
  font-style: italic;
}

#current-challenge-day {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  background-color: #4caf50;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.reminder {
  font-size: 0.8rem;
  color: #000000;
}

#total-amount {
  font-size: 1rem;
  font-weight: 600;
  background-color: #4caf50;
  color: #000000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.days-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  padding: 10px;
}

/* Progress Bar Styles */
#progress-bar-container {
  width: 100%;
  background-color: #eee;
  border-radius: 10px;
  margin: 10px 0;
  border: 0.5px solid rgb(255, 255, 255);
}

#progress-bar {
  width: 0%;
  height: 24px;
  background-color: #7d3c98;
  transition: width 0.5s ease-in-out;
  border-radius: 10px;
}

#progress-bar span {
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1px;
  text-align: center;
  margin-left: 10px;
  font-size: 16px;
}

/* Day Styles */
.day {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  transform: scale(1);
}

.day:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.day.completed {
  position: relative;
  overflow: hidden;
  background-color: #4caf50;
  background-image: linear-gradient(
    to right,
    #4caf50 0%,
    #79ca70 50%,
    #4caf50 100%
  );
  background-size: 200% 100%;
  animation: shimmer 5s infinite linear;
}

.day.completed::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 10px;
  animation: sparkle 3s linear infinite;
}

/* Footer styles */
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  color: #666;
  font-size: 0.8rem;
}

.heart {
  color: red;
}
/* Toggle switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 26px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4caf50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .container {
  border: 1px solid #c5c5c5;
  background-color: #000000;
}

.dark-mode footer {
  background-color: #222;
  color: #fff;
}

.dark-mode .day {
  background-color: #333;
  border: 1px solid #c5c5c5;
  color: #fff;
}
.dark-mode-label {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

/* Keyframe Animations */
@keyframes pop {
  0% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shimmer {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

@keyframes sparkle {
  0% {
    border-color: rgba(255, 255, 255, 0);
  }
  50% {
    border-color: rgba(52, 121, 55, 0.8);
  }
  100% {
    border-color: rgba(255, 255, 255, 0);
  }
}

/* Media Queries */
@media (min-width: 601px) and (max-width: 900px) {
  .container {
    width: 70%;
    padding: 15px;
  }
  .days-container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

@media (min-width: 901px) {
  .container {
    width: 33%;
    padding: 20px;
  }
  .days-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

@media (max-width: 600px) {
  .days-container {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
}
