/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4; /* Light grey background */
  color: #333; /* Dark grey text */
  margin: 0;
  padding: 20px;
}
h1 {
  text-align: center;
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  color: #4caf50; /* A nice green */
}

p {
  text-align: center;
  margin: 0;
  font-size: 18px;
  color: #999;
}

#current-date {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: #666;
}
.days-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  padding: 10px;
}

.day {
  background-color: #ffffff; /* White background for each day */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 10px; /* Rounded corners */
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  cursor: pointer; /* Indicate clickable */
  transition: background-color 0.3s;
}

.day:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
}

.day-checkbox {
  accent-color: #4caf50; /* A nice green for the checkbox */
}

.day.completed {
  background-color: #4caf50; /* Green background for completed days */
}
